* {
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    margin: 0;
}

.header {
    margin: 0;
    padding: 35px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: fixed;
    width: 100%;
}


.home{
    font-size:24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.section-one {
    display: flex;
    justify-content: center;
    gap: 100px;
    min-height: 600px;
    background-color: #1F2937;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 30vw;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.button-one,
.button-two {
    background-color: #3882F6;
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.button-two {
    border: white 1px solid;
}

.button-one:hover,
.button-two:hover{
    background-color: white;
    color: #3882F6;
    cursor: pointer;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 600px;
}

.info-header-text {
    text-align: center;
    background-color: white;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px;
}

.info-subtext {
    color: #1F2937;
    font-size: 18px;
    margin: 0 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    flex-shrink: 0;
    text-align: center;
}

.card-image-container img {
    border: #3882F6 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

.section-three {
    height: 600px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: 50vw;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0 auto;
}

.author-quote {
    color: #1F2937;
    text-align: right;
    font-weight: 600;
    font-size: 28px
}

.section-four {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    width: 60vw;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.cta-header {
    color: #E5E7EB;
    font-size: 25px;
    font-weight: 600;
}

.cta-subheader {
    color: #E5E7EB;
}

.cta-right {
    flex-shrink: 0;
}

.footer {
    height: 30px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}